@import 'tailwindcss';
@import 'fumadocs-ui/css/purple.css';
@import 'fumadocs-ui/css/preset.css';

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-40%) scale(1);
  }
}

.animate-spotlight {
  animation: spotlight 2s ease .75s 1 forwards;
}

:root {
  --fd-layout-width: 1200px;
}